.tab-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.tab-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}