.nav-item h1:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 50%;
  bottom: -5px;
  transition: .5s ease-out;
}

.nav-item h1:hover:after {
  left: 0%;
  width: 100%;
}

.active h1:after{
  background-color: #ee6730;
  left: 0%;
  width: 100%;
}

.active{
  color: #ee6730 !important;
  /* left: 0%;
  width: 100%; */
}


/* Scrollbar style for browser */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
}


/* Scrollbar style for table in responsive */

.table-container::-webkit-scrollbar {
  height: 4px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
  border-radius: 5px;
}



/* Privat-Navbar Dropdown-Menu */
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: .4s ease-in-out;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: .4s ease-in-out;
}

/* Dashboard */

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.landing-sub
{
  letter-spacing: 10px;
}

.triengle 
{
  clip-path: polygon(0 0, 71% 0, 38% 100%, 0 100%);
}

